<form class="category" method="post" action="{% if entity.id|default(0) > 0 %}{{ path('category_update',{'slug':entity.slug}) }}{% else %}{{ path('category_create') }}{% endif %}">
    <div class="mb-3">
        <label for="category_name" class="form-label">Name</label>
        <input type="text"
               id="category_name"
               name="name"
               value="{{ entity.name|default('') }}"
               required="required"
               maxlength="255"
               class="form-control{% if(errors|default('0') != 0 and 'category_name' in errors|keys) %} is-invalid{% endif %}">
        {% if(errors|default('0') != 0 and 'category_name' in errors|keys) %}
            <div class="invalid-feedback">{{ errors.category_name }}</div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Speichern</button>
</form>