{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Kategorie erstellen</h1>
        {{ include('category/category_form.html.twig', {'entity': entity}) }}
    </div>
{% endblock %}